  body,html{background-color: #f8ceec;
                background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
                justify-content: center;
                align-content: center;
                align-items: center;
                display: flex;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }


            .box1{
                background-color: rgba(27,27,27,0.6);
                box-shadow: -20px 20px 20px rgba(50,23,77,0.5);
                padding: 30px;
                color: white;
                border-radius: 10px;
                font-size: 18px;

            }
            

            h3 a{
                color: white;
                font-family: sans-serif;
                text-decoration: none;
                font-weight: bolder;
                display: flex;
                justify-content: center;
            }
            
            a:hover{color: white;
                text-decoration: underline;
}
        
            

            h2{font-family: sans-serif;
                font-weight: bolder;
                text-decoration: underline;
                text-align: center;
            }


            input{
                padding: 0.5em ;
                text-align: center;
                border: none;
                font-size: 1em;
                background-color: ghostwhite;
            
            }


            #message{background-color: ghostwhite;}
             form p {
                 margin: 0;
             }
             form p:last-child{
                 margin-top: 1em;
             }

            button{
                padding: 10px;
                width: 150px;
                border: none;
                border-radius: 10px;
                font-size: 18px;
                font-weight: 900;
                background-color: rgb(75,0,130);
                 box-shadow: -8px 5px 10px rgba(21,6,118,0.5);
                color: white;
            }
            
           button:hover{background-color: blueviolet;}

           textarea {
            resize: none;
            outline: none;
            width: 100%;
           }

           form input{
               width : 100%;
           }

@media only screen and (max-width: 1024px){
    .box1 {
        width: 100%;
        height: 100%;
        font-size: x-large;
    }
    form p input{
        line-height: 3em;
        font-size: large;
    }
    form p label, form p input{
        display: flex;
        justify-content: center ;
        align-items: center;
        width: 100%;
    }
}

@media only screen and (max-width: 980px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box1 {
        margin: 0 0 0 ;
        height: 100%;
        font-size: smaller;
        padding: 0;
    }
    form p label, form p input{
        display: flex;
        justify-content: center ;
        align-items: center;
        width: 100%;
    }
    form p input{
        padding: 0em;
        font-size: 1em;
    }
    form {
        margin: 0.5em;
        padding: 0;
    }
}